<h2 class="text-center m-3 p-3">Recipies List</h2>

<div class="d-flex text-center m-5 p-5 justify-content-evenly">
  <div class="input-group rounded mt-3">
    <input [(ngModel)]="searchText" type="search" class="form-control rounded" placeholder="Search recipes" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0 me-3" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <button class="btn btn-info btn-sm" (click)="generatePDF()">Export as PDF</button>
</div>
<div class="row m-3 p-3 justify-content-evenly">
  <div class="card shadow mb-5" style="width: 400px;height: 850px;background-color:goldenrod;"  *ngFor="let user of allRecipies | search:searchText">
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
      <img src={{user.image}} class="img-fluid mt-2" style="height:300px;width:400px;"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h3><b>ID:</b>{{user.id}}</h3>
      <h3 class="card-title"><b>NAME:</b><i>{{user.name}}</i></h3>
      <p><b>MEAL-TYPE:</b>{{user.mealType}}</p>
      <p class="card-text"><b>INGREDIENTS:</b>{{user.ingredients}}</p>
      <p class="card-text"><b>INSTRUCTIONS:</b>{{user.instructions}}</p>
      <div class="text-center justify-content-evenly mt-3">

        <button (click)="favoriteRecipie(user.id)" class="btn btn-success me-5" routerLink="/users/favourite"><i class="fa-solid fa-heart text-danger fs-4"></i>Favourites</button>

        <button (click)="deleteRecipie(user.id)" class="btn btn-info"><i class="fa-solid fa-trash text-dark fs-4"></i>Delete</button>
      </div>
    </div>
  </div>
</div>