<div>
    <img src="https://static.vecteezy.com/system/resources/previews/013/224/085/non_2x/recipe-book-on-wooden-table-background-banner-free-vector.jpg" alt="" height="400px" width="100%">
</div>
<div class="row d-flex">
 <div class="col-6">
    <img src="https://media.domatron.com/media/871/conversions/recipe-app-gsn-jpg.jpg" alt="" width="750px" height="500px">

 </div>
 <div class="col-6 p-5 mt-5">
    <h2><b>The easiest way to organize your recipes</b></h2>
    <p>Nice Tastes is the quick and easy way to collect, organize and share all your favorite recipes across your mobile, tablet, PC and Mac.</p>
    <button class="btn btn-success fs-2 mt-3 mb-3" routerLink="/login">GetStarted</button>
 </div>

</div>